@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Anybody:wght@300&family=Cabin&family=Fredoka&family=Hurricane&family=Inconsolata:wght@300;400&family=Lobster&family=Lora:ital,wght@1,500&family=Noto+Sans:wght@100;200&family=Oswald&family=Passions+Conflict&family=Patrick+Hand&family=Raleway:ital,wght@0,300;1,600&family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Mono:wght@200&family=Roboto+Slab:wght@200&display=swap');
.Calculator-Container{
    width: 20rem;
    height: 25rem;
    border: 2px ridge #2F4858 ;
    font-family: 'Roboto Condensed', sans-serif;
}